@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.container-principal {
  border-radius: 4px;
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  height: 100vh;
}

.lateral {
  flex-basis: 275px;
  max-width: 275px;
  flex-shrink: 0;
  background: linear-gradient(rgb(159, 213, 235), rgba(54, 67, 75, 0.966));
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.lateral-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  margin-left: 20px;
  padding-bottom: 50px;
}

.lateral-list {
  list-style-type: none;
  padding: 0;
}

.lateral-list-item {
  position: relative;
  margin-bottom: 4px;
  overflow: hidden;
}

ul {
  list-style: none;
}

.drop-menu {
  display: none;
  padding-left: 20px;
}

#usuarios-link:hover {
  background-color: #323850;
  color: white;
}

.drop-menu li:hover {
  background-color: #323850;
  color: white;
}

.drop-menu-cursos li:hover {
  background-color: #323850;
  color: white;
}

#cursos-link:hover {
  background-color: #323850;
  color: white;
}

.drop-menu-cursos {
  display: none;
  padding-left: 20px;
}

#inicio:hover {
  background-color: #323850;
  color: white;
}

.drop-menu-reportes li:hover {
  background-color: #323850;
  color: white;
}

#reportes-link:hover {
  background-color: #323850;
  color: white;
}

.drop-menu-reportes {
  display: none;
  padding-left: 20px;
}


.position-absolute {
  position: absolute;
  top: 840px;
  padding-left: 5px;
}

.danger {
  background-color: #ff0000cb;
  border-radius: 50px;
}

.danger:hover {
  background: #ff0000;
  color: rgb(255, 255, 255);
}

li {
  border-radius: 8px;
}

.lateral-list-item a {
  display: flex;
  align-items: center;
  width: 90%;
  padding: 10px;
  color: var(--sidebar-link);
  text-decoration: none;
  font-size: 15px;
  line-height: 24px;
  border-radius: 4px;
}

.lateral-list-item svg {
  margin-right: 8px;
}


/*.lateral-list-item.active:before {
    content: "";
    position: absolute;
    right: 0;
    background-color: var(--action-color);
    height: 100%;
    width: 4px;
  } */

.cuenta-info {
  display: flex;
  align-items: center;
  padding: 20px;
}

.cuenta-imagen {
  width: 35px;
  height: 35px;
}

.cuenta-nombre {
  font-size: 14px;
  margin: 0 8px;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 20px;
  margin-left: 1px;
}

.cuenta-mas {
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
}

.icono {
  width: 120px;
  height: 50px;
}

#logo {
  width: 160px;
  height: 68px;
}

.container-barra {
  padding: 16px;
  background-color: rgb(228, 234, 236);
  height: 100%;
  flex: 1;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.block {
  display: block;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
  padding-bottom: 40px;
  padding-left: 20px;
}

.header-text {
  color: #499ac9;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  padding-top: 20px;
  line-height: 35px;
  margin: 0;
}


.hidden {
  display: none;
  position: absolute;
  background-color: #CCCCDA;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: -350px;
  /* Ajusta la distancia desde la derecha */
  top: 0;
}

/* Estilo para el botón */
.cerrar-sesion {
  position: relative;
}

/* Estilo para el botón al pasar el mouse */
.cerrar-sesion:hover #mensajeCerrarSesion {
  display: block;
}

.nombre-sesion {
  font-size: 20px;
  color: white;
}

.lateral span {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

/* Inicio Formulario de Registro de Usuarios */

.id-generar{
  margin-left: 37px;
  font-size: 12px;
  height: 40px;
  width: 80px;
  text-align: center;
  background-color: #d4e3e9;
  border: none;
  border-radius: 5px;
  color: white;
  transition: 0.8s;
}

.id-generar:hover{
  font-size: 25px;
  background: #24ec1d;
  color: black
}

.container-inscripcion .text-form{
  padding-right: 15px;
}

.text-select-diplomado{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  margin-left: 4px;
  margin-right: 18px;
}

.text-select-curso{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  margin-left: 4px;
}

.container-inscripcion{
  padding-top: 15px;
  padding-bottom: 25px;
}

.block-selects{
  display: flex;
}

.ancholabel-rol{
  width: 90px;
  margin-top: 7px;
}

.ancholabel{
  width: 130px;
  margin-top: 7px;
}


.container-formulario {
  overflow-y: scroll;
  display: flex;
  justify-content: center;
}

.status-user{
  padding-top: 12px;
}

.container-formulario-registro {
  background-color: rgba(255, 255, 255, 0.521);
  border: 3px solid #ccc;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding-top: 10px;
  /* background: linear-gradient(rgb(13, 105, 211), rgba(0, 0, 0, 0.966)); */
  border-radius: 20px;

}

.formulario-registro {
  padding: 20px 30px 20px 30px;
}

.block {
  padding-top: 38px;
}

/* Estilo para las etiquetas */
.label-form {
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.text-form {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding-left: 20px;
  color: #79a3cf;
}



/* Estilo para los inputs */
.block-style {
  width: 150px;
  margin-left: 8px;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #dee6f0;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.block-style:hover {
  background-color: #f0f4f7;
}

.salon {
  width: 30px;
  margin-top: 8px;
  margin-left: 8px;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #dee6f0;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

#salon-container {
  padding-top: 20px;
}

/* Estilo para el botón */

.block:hover {
  border: 1px;
}

.block-boton {
  padding-top: 10px;
}

.form-select:hover {
  background-color: #e9eff5;
}

.form-select {
  width: 490px;
}

.generarID {
  border-radius: 10px;
  background-color: #007bff;
  color: #fff;
  padding: 17px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 1s;
}

.generarID:hover {
  background-color: #5a658f;
  font-size: 18px;
}

.registrar-user {
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 60%;
  background: #39c91cd0;
  border-radius: 8px;
  border: none;
  font-size: 17px;
  transition: all 1s;
}

.registrar-user:hover {
  background-color: #35c518;
  font-size: 19px;
}

.formulario-registrar {
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
  justify-content: start;
}

.column {
  padding-top: 20px;
  align-items: start;
}


/* Estilos para el switch */
.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 35px;
}

/* Estilos para el input */
.switch input {
  display: none;
}

/* Estilos para el slider del switch */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 35px;
}

.slider:hover {
  background-color: #8697a8;
}

/* Estilos para el slider cuando el switch está en estado activo */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}


input:checked+.slider {
  background-color: #2196F3;
}

/* Estilos para el slider cuando el switch está en estado activo*/
input:checked+.slider:before {
  transform: translateX(30px);
}

/* Estilos para las etiquetas ON y OFF */
.etiqueta-on,
.etiqueta-off {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  padding: 0 5px;
  display: inline;
}

.etiqueta-on {
  left: 4px;
}

.etiqueta-off {
  right: 4px;
}

/* Ocultar la etiqueta OFF cuando el switch está encendido */
input:checked+.slider+.etiqueta-off {
  display: none;
}

/* Estilos generales para el switch-container */
.switch-container {
  display: flex;
  align-items: center;
}

/* Estilos para la etiqueta "Estatus" */
.etiqueta-estatus {
  margin-right: 12px;
}

#identificacion::placeholder {

  color: #758a92;
  font-style: italic;
  opacity: 0.7;
}

/* Estilos generales para el switch */
.switch-cerrar-sesion {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch-cerrar-sesion input {
  display: none;
}

/* Estilos para el slider del switch */
.slider-cerrar-sesion {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b39292;
  transition: 0.4s;
  border-radius: 34px;
}

/* Estilos para el slider cuando el switch está en estado activo */
.slider-cerrar-sesion:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Estilos para el slider cuando el switch está en estado activo */
input:checked+.slider-cerrar-sesion {
  background-color: #f32121;
}

/* Estilos para el slider cuando el switch está en estado activo*/
input:checked+.slider-cerrar-sesion:before {
  transform: translateX(25px);
  /* Mueve el botón del interruptor a la derecha cuando está activo */
}


/* Fin del Formulario Registrar Usuario */


/* Inicio de tabla de Estudiantes */

.container-estudiantes{
  display: flex;
  justify-content: start;
}

.filtrar-estudiantes {
  display: flex;
  justify-content: end;
}

#buscarInput {
  width: 180px;
  padding: 5px;
}


#tablaEstudiantes th, #tablaEstudiantes td {
  padding: 18px;
}

.container-table-all{
  padding-top: 40px;
}

.container-estudiantes{
  padding-top: 25px;
  padding-left: 45px;
}

.paginacion{
  padding-top: 20px;

}

.input-buscar{
  margin-bottom: 20px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid;
  transition: all 0.4s;
}

.input-buscar:hover{
  transform: 500ms;
  font-size: 15px;
  font-style: italic;
  background: #e6ecf1;
  border: none;
}

.icon-buscar{
  margin-top: 4px;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button-container form {
  margin-right: 10px;
}



