@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

/*:root {
    --app-bg: #101827;
  --lateral: rgba(21, 30, 47,1);
  --app-content-main-color: #fff;
  --lateral-link: #fff;
  --lateral-active-link: #1d283c;
  --lateral-hover-link: #1a2539;
  --action-color: #2869ff;
  --action-color-hover: #6291fd;
  --app-content-secondary-color: #1d283c;
}

.light:root {
  --app-bg: #fff;
  --lateral: #f3f6fd;
  --app-content-secondary-color: #f3f6fd;
  --app-content-main-color: #1f1c2e;
  --lateral-link: #1f1c2e;
  --lateral-hover-link: rgba(195, 207, 244, 0.5);
  --lateral-active-link: rgba(195, 207, 244, 1);
  --lateral-main-color: #1f1c2e;
}

*/

.container-principal {
  border-radius: 4px;
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  height: 100vh;
}

.lateral {
  flex-basis: 275px;
  max-width: 275px;
  flex-shrink: 0;
  background: linear-gradient(rgb(0, 119, 255), rgba(0, 0, 0, 0.966));
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

.lateral-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  margin-left: 20px;
  padding-bottom: 50px;
}

.lateral-list {
  list-style-type: none;
  padding: 0;
}

.lateral-list-item {
  position: relative;
  margin-bottom: 4px;
  overflow: hidden;
}

ul {
  list-style: none;
}

.drop-menu {
  display: none;
  padding-left: 20px;
}

#usuarios-link:hover {
  background-color: #323850;
  color: white;
}

.drop-menu li:hover {
  background-color: #323850;
  color: white;
}

.drop-menu-cursos li:hover {
  background-color: #323850;
  color: white;
}

#cursos-link:hover {
  background-color: #323850;
  color: white;
}

.drop-menu-cursos {
  display: none;
  padding-left: 20px;
}

#inicio:hover {
  background-color: #323850;
  color: white;
}

.drop-menu-reportes li:hover {
  background-color: #323850;
  color: white;
}

#reportes-link:hover {
  background-color: #323850;
  color: white;
}

.drop-menu-reportes {
  display: none;
  padding-left: 20px;
}


.position-absolute {
  position: absolute;
  top: 840px;
  padding-left: 5px;
}

.danger {
  background-color: #ff0000cb;
  border-radius: 50px;
}

.danger:hover {
  background: #ff0000;
  color: rgb(255, 255, 255);
}

li {
  border-radius: 8px;
}

.lateral-list-item a {
  display: flex;
  align-items: center;
  width: 90%;
  padding: 10px;
  color: var(--sidebar-link);
  text-decoration: none;
  font-size: 15px;
  line-height: 24px;
  border-radius: 4px;
}

.lateral-list-item svg {
  margin-right: 8px;
}


/*.lateral-list-item.active:before {
    content: "";
    position: absolute;
    right: 0;
    background-color: var(--action-color);
    height: 100%;
    width: 4px;
  } */

.cuenta-info {
  display: flex;
  align-items: center;
  padding: 20px;
}

.cuenta-imagen {
  width: 35px;
  height: 35px;
}

.cuenta-nombre {
  font-size: 14px;
  margin: 0 8px;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 20px;
  margin-left: 1px;
}

.cuenta-mas {
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
}

.icono {
  width: 120px;
  height: 50px;
}

#logo {
  width: 160px;
  height: 68px;
}

.container-barra {
  padding: 16px;
  background-color: var(--app-bg);
  height: 100%;
  flex: 1;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.block {
  display: block;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
  padding-bottom: 40px;
}

.header-text {
  color: var(--app-content-main-color);
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}


.hidden {
  display: none;
  position: absolute;
  background-color: #CCCCDA;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: -350px;
  /* Ajusta la distancia desde la derecha */
  top: 0;
  /* Ajusta la distancia desde la parte superior */
}

/* Estilo para el botón */
.cerrar-sesion {
  position: relative;
}

/* Estilo para el botón al pasar el mouse */
.cerrar-sesion:hover #mensajeCerrarSesion {
  display: block;
}

.nombre-sesion {
  font-size: 20px;
  color: white;
}

.lateral span {
  font-size: 21px;
  font-family: 'Roboto', sans-serif;
}

/* Inicio Formulario de Registro de Usuarios */

.container-formulario {
  overflow-y: scroll;
  display: flex;
  justify-content: center;
}

.container-formulario-registro {
  padding-top: 10px;
  background: linear-gradient(rgb(0, 119, 255), rgba(0, 0, 0, 0.966));
  border-radius: 20px;
  
}

.formulario-registro{
  padding: 20px 80px 20px 80px;
}

.block-boton {
  margin-top: 40px;
  margin-bottom: 80px;
}

.block{
  padding-top: 20px;
}

/* Estilo para las etiquetas */
.label-form {
  font-size: 16px;
  font-weight: bold;
  color: white; /* Color del texto de la etiqueta */
  margin-bottom: 6px;
  transition: color 0.3s ease-in-out; /* Transición de color al pasar el mouse */
}

.text-form{
  font-family: 'Nunito';
  font-size: 22px;
  padding-left: 20px;
}

.label-form:hover {
  color: rgb(3, 42, 73); /* Cambia el color del texto al pasar el mouse */
}

/* Estilo para los inputs */
.block-style {
  width: 150px;
  margin-top: 8px;
  margin-left: 8px;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #dee6f0; /* Borde del input */
  border-radius: 4px; /* Bordes redondeados */
  font-size: 16px;
  outline: none;
}

.block-style:hover{
  background-color: #c4d8ec;
}

.salon{
  width: 30px;
  margin-top: 8px;
  margin-left: 8px;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #dee6f0; /* Borde del input */
  border-radius: 4px; /* Bordes redondeados */
  font-size: 16px;
  outline: none;
}

#salon-container{
  padding-top: 20px;
}

/* Estilo para el botón */
button {
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Transición de color de fondo al pasar el mouse */
}

button:hover {
  background-color: #5a658f; /* Cambia el color de fondo del botón al pasar el mouse */
}

.block:hover{
  border: 1px;
}

.form-select:hover{
  background-color: #abc7e0;
}

.form-select{
  width: 490px;
}

.registrar-user{
  width: 60%;
  background: #2bff00d0;
}

.registrar-user:hover{
  background-color: #2bff00;
}

.flex{
  display: flex;
  justify-content: start;
}

.column{
  padding-top: 20px;
  align-items: start;
}