@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

/* Inicio estilos para el login*/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background: rgb(238, 237, 237);
}

/*Inicio de estilos para h1 y h2*/

h1 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #696969;
    text-shadow: 0px 0px 1px black;
}

h2 {
    padding-top: 5px;
    font-family: 'Nunito Sans', sans-serif;
    padding-left: 20px;
    padding-bottom: 10px;
    color: #696969;

}

.block-h2{
    display: flex;
    justify-content: center;
}

.input-pass{
margin-bottom: 12px;
padding: 4px;
border: none;
border-radius: 10px;
background: rgb(202, 201, 201);
font-size: 15px;
text-align: center;
width: 178px;
}

/*Fin de estilos para h1 y h2*/

/*Centra cajas con flexbox*/

.container-principal {
    display: flex;
    justify-content: center;
}

.cajade3 {
    display: flex;
    justify-content: center;

    /*Fin centrar cajas con flexbox*/

    /*Inicio estilos a los botones*/

}

.gfi {
    position: relative;
    display: inline-block;
}

.boton {
    width: 120px;
    height: 120px;
    border-radius: 17px;
    cursor: pointer;
    box-shadow: 0px 0px 10px inset #45b5d1;
    border: none;
}

.botonBorrar {
    width: 150px;
    height: 90px;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    box-shadow: 0px 0px 10px inset #000000;
    transition: all 800ms;
    border: none;
}

.cajamenu {
    margin-left: 20px;
    margin-top: 40px;
    margin-right: 20px;
}

.primary {
    background-color: white;
    transition: all 400ms;
}

.primary:hover {
    background: #0b7dda;
    color: white;
    border: none;
}

.danger {
    background-color: #ff0000cb;
}

.danger:hover {
    background: #ff0000;
    font-size: 20px;
}

.success {
    background-color: #2bff00d0;
    width: 250px;
    height: 90px;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    box-shadow: 0px 0px 5px inset #000000;
    transition: all 800ms;
    border: none;
}

.success:hover {
    background-color: #2bff00;
    font-size: 20px;
}

.borrar {
    color: white;
}

.container {
    background: linear-gradient(70deg, rgb(242, 246, 247), rgb(175, 187, 194));
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px black;
}

/* Fin estilos de botones*/

/*Inicio estilos de numeros*/

.numeros {
    font-weight: 700px;
    font-size: 40px;
    font-family: 'Nunito Sans', sans-serif;
}

/*Fin estilos de numeros*/

/*Inicio estilo letra confirmar asistencia*/

a {
    text-decoration: none;
    color: white;
}

/*Fin estilo letra confirmar asistencia*/

/*Inicio estilo del logo*/

.logo {
    position: absolute;
    top: 20px;
    left: 15px;
}

/*Fin estilo del logo*/

/* Fin estilos para el login*/